@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-v23-latin-300.woff2') format('woff2'),
  url('../fonts/lato-v23-latin-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
  url('../fonts/lato-v23-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
